.ipynb_checkpoints
target
*.dim
*.tif
runc
__pycache__
*.properties
*.egg-info
*.pyc
dist
build
*.vrt
*.geojson
hatch
tests
.git
.DS_Store
**/__pycache__
**/*.pyc
**/*.pyo
*.tar.gz
*.log
*.err
*.out
*.out
default.yaml
owscontext.xml
docker-build
*.ipynb
.vscode
catalog.json
*.geom
staged
.theia
app-*.cwl
m-app-*.cwl
test-data
env.sh
.git
.ipynb_checkpoints
*.egg-info
build/**
dist/**
*.ipynb
*.tif
*.TIF
*.tiff
*.jpeg
*.jpg
*.png
.dockerignore
*.ipynb
data/*
*.cwl
*__pycache__*

*.tif
.ipynb_checkpoints
*checkpoint.md
__pycache__/*
*.pkl
*.h5
*.keras

# .dockerignore
__pycache__
*.pyc
.git
.venv
env
.git
.ipynb_checkpoints
*.egg-info
build/**
dist/**
*.ipynb
*.tif
*.TIF
*.tiff
*.jpeg
*.jpg
*.png
.dockerignore
*.ipynb
data/*
*.cwl
*__pycache__*
