.ipynb_checkpoints
target
*.dim
*.tif
runc
__pycache__
*.properties
*.egg-info
*.pyc
dist
build
*.vrt
*.geojson
hatch
tests
.git
.DS_Store
**/__pycache__
**/*.pyc
**/*.pyo
*.tar.gz
*.log
*.err
*.out
*.out
default.yaml
owscontext.xml
docker-build
*.ipynb
.vscode
catalog.json
*.geom
staged
.theia
app-*.cwl
m-app-*.cwl
test-data
env.sh
